@CHARSET "ISO-8859-1";

.logo img{
	width: 120px;
	position: relative;
	left: -75px;
	margin: 10px;
}


.headerContent{
	display: flex;
	background-color: #fa3274;
    height: 45px;	
    padding: 5px;
}

.menuIcon, .fa{
	margin: 0 5px;
}

.hamburguer{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

.user{
	position: absolute;
    right: 0;
    margin-right: 12%;
}


